.wrapper {
    margin-top: 20px;
}

.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: left;
    gap: 10px;
}

.hhTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: left;
    align-items: baseline;
    gap: 10px;
}