.footer {
    display: grid;
    padding: 25px 32px;
    grid-template-columns: 1fr;
    background: var(--primary);
    color: var(--white);
    font-size: 16px;
    line-height: 22px;
    justify-items: center;
}