.sidebar {
    display: grid;
}

.logo {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}