.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.logo {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.logo svg {
    cursor: pointer;
}